.portfolio {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.portfolio .title {
    margin: 0 auto 50px;
    text-align: center;
    font-size: 7em;
    color: #66CCBE;
    font-weight: bold;
    border-bottom: 2px solid #66CCBE;
    text-shadow: 2px 2px #CCC;
}

.portfolio .title .dot{
    color: #666;
    font-size: 0.8em;
}

.portfolio .container {
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
}