<div class="container">
    <md-autocomplete 
            md-selected-item="$ctrl.selectedItem"         
            md-selected-item-change="$ctrl.selectedItemChanged(item)"
            md-search-text="$ctrl.searchText" 
            md-items="item in $ctrl.getMatches($ctrl.searchText)" 
            md-item-text="item.symbol"
            md-menu-class="symbolLookupRow"
            placeholder="Search for a symbol...">
        <md-item-template>
            <span class="cell left" md-highlight-text="$ctrl.searchText" md-highlight-flags="gi">{{item.symbol}}</span>
            <span class="cell center" md-highlight-text="$ctrl.searchText" md-highlight-flags="gi">{{item.name}}</span>
            <span class="cell right">{{item.typeDisp}} {{item.exchDisp}}</span>            
        </md-item-template>
        <!--TODO: Add proper localization-->
        <md-not-found>
            No matches found.
        </md-not-found>
    </md-autocomplete>
    <button ng-click="$ctrl.onAdd({$event: $ctrl.getSelectedSymbol()})">Add</button>
</div>